.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            width: fit-content;
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own {
                align-self: flex-end;

                .text {
                    p {
                        background-color: #5183fe;
                    }
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .text {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.3);
                    border-radius: 10px;
                }

                span {
                    font-size: 13px;
                }
            }
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        margin-top: auto;

        .icons {
            display: flex;
            gap: 20px;
        }

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            font-size: 16px;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;
            }
        }

        .sendButton {
            background-color: #5183fe;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled {
                background-color: #5182feb4;
                cursor: not-allowed;
            }
        }
    }
}

.detail {
    flex: 1;

    .user {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #dddddd35;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 21px;

        .option {

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .photos {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;

                .photoItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span {
                            font-size: 14px;
                            color: lightgray;
                            font-weight: 300;
                        }
                    }

                    .icon {
                        width: 30px;
                        height: 30px;
                        background-color: rgba(17, 25, 40, 0.3);
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }

        button {
            padding: 10px 20px;
            background-color: rgba(230, 74, 105, 0.553);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: rgba(220, 20, 60, 0.796);
            }

            &.logout {
                padding: 10px;
                background-color: #1a73e8;
            }
        }
    }

    /* حركة السهم */
    .arrow {
        transition: transform 0.3s ease;
    }

    .arrow.rotate {
        transform: rotate(180deg);
    }

    /* حركة إظهار وإخفاء الصور */
    .photos {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        opacity: 1;
    }

    .photos.closed {
        max-height: 0;
        opacity: 0;
        pointer-events: none;
    }

}


.addUser {
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: rgba(17, 25, 40, 0.781);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    h3 {
        margin-bottom: 15px;
    }

    form {
        display: flex;
        gap: 20px;

        input {
            padding: 20px;
            border-radius: 10px;
            border: none;
            outline: none;
        }

        button {
            padding: 20px;
            border-radius: 10px;
            background-color: #1a73e8;
            color: white;
            border: none;
            cursor: pointer;
        }
    }

    .user {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        button {
            padding: 10px;
            border-radius: 10px;
            background-color: #1a73e8;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
}


.chatList {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .search {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchBar {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 10px;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        .add {
            width: 36px;
            height: 36px;
            background-color: rgba(17, 25, 40, 0.5);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}


.userInfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .icons {
        display: flex;
        gap: 20px;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}


.list {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;

    .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            input {
                padding: 20px;
                border: none;
                outline: none;
                background-color: rgba(17, 25, 40, 0.6);
                color: white;
                border-radius: 5px;
            }

            label {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-decoration: underline;
                cursor: pointer;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    object-fit: cover;
                    opacity: 0.6;
                }
            }

            button {
                width: 100%;
                padding: 20px;
                border: none;
                background-color: #1f8ef1;
                color: white;
                border-radius: 5px;
                font-weight: 500;
                cursor: pointer;

                &:disabled {
                    cursor: not-allowed;
                    background-color: #1f8ff19c;
                }
            }
        }
    }

    .separator {
        height: 80%;
        width: 2px;
        background-color: #dddddd35;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    background-image: url("/bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.container {
    width: 90vw;
    height: 90vh;
    background-color: rgb(17, 25, 40, 0.75);
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgb(255, 255, 255, 0.125);
    display: flex;
}

.noChatSelected {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 40px;
    border-left: 1px solid #dddddd35;
}

.loading {
    padding: 50px;
    font-size: 36px;
    border-radius: 10px;
    background-color: rgba(17, 25, 40, 0.9);
}

.logoutButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f44336;
    /* أحمر */
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.logoutButton:hover {
    background-color: #d32f2f;
}


@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .chat,
    .detail,
    .noChatSelected {
        flex: 1 !important;
        width: 100% !important;
        border: none !important;
    }

    .detail,
    .chat {
        display: none;
    }

    .chat.active,
    .detail.active {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .userInfo .user img {
        width: 40px;
        height: 40px;
    }

    .chat .center .message .text p {
        padding: 14px;
        font-size: 14px;
    }

    .chat .bottom input {
        padding: 14px;
        font-size: 14px;
    }
}