.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            .arrow-left {
                width: 20px;
                height: 20px;
                cursor: pointer;
                display: none;
            }

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

            .calls {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            width: fit-content;
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own {
                align-self: flex-end;

                .text {
                    p {
                        background-color: #5183fe;
                    }
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .text {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.3);
                    border-radius: 10px;
                }

                span {
                    font-size: 13px;
                }
            }
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        margin-top: auto;

        .icons {
            display: flex;
            gap: 20px;
        }

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            font-size: 16px;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;
            }
        }

        .sendButton {
            background-color: #5183fe;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled {
                background-color: #5182feb4;
                cursor: not-allowed;
            }
        }
    }
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.detail {
    flex: 1;
    overflow-y: auto;
}

@media screen and (max-width: 1450px) {
    .calls {
        gap: 44% !important;
    }
}

@media screen and (max-width: 1024px) {
    .chat {
        display: none;
        flex: 1;
        width: 100%;
        border: none;

        .chat.active {
            display: flex;
        }

        .chat .center .message {
            max-width: 90%;
        }

        .list {
            width: 100%;
            flex: 1;
        }

        .detail {
            display: none;
            width: 100%;
            flex: 1;
        }

        .detail.active {
            display: flex;
            flex-direction: column;
        }

        .arrow-left {
            display: inline !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .chat .top {
        padding: 14px;
    }

    .chat .top .user img {
        width: 40px;
        height: 40px;
    }

    .chat .top .user .texts span {
        font-size: 16px;
    }

    .chat .top .user .texts p {
        font-size: 12px;
    }

    .chat .center .message .text p {
        padding: 14px;
        font-size: 14px;
    }

    .chat .center .message .text span {
        font-size: 11px;
    }

    .chat .bottom input {
        padding: 14px;
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .sendButton {
        padding: 8px 15px !important;
    }

    .chat .bottom {
        gap: 15px;
    }

    .chat .bottom input {
        padding: 10px !important;
    }
}